@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-gradient-bg {
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(59, 130, 246, 0.2) 0%,
      /* Blue color instead of purple */ rgba(200, 168, 255, 0.05) 25%,
      rgba(229, 231, 235) 100%
    ),
    rgb(229, 231, 235);
}

@media (prefers-color-scheme: dark) {
  .custom-gradient-bg {
    background: radial-gradient(
        100% 100% at 50% 0%,
        rgba(59, 130, 246, 0.4) 0%,
        /* Slightly stronger blue color */ rgba(200, 168, 255, 0.1) 25%,
        /* Slightly stronger purple color */ rgba(0, 0, 0, 0) 100%
      ),
      rgb(31, 41, 55); /* Dark background color */
  }
}
